*{
    /* margin: 0; */
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: white;
    line-height: normal;
}
.header{
    background: #FFF8F3;
}
/* header and navigation style */
.nav-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin:0px 100px 50px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* banner style starts here */
.banner{
    display: flex;
    margin: 20px 100px;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right left;
    /* background-size:contain; */
}
.banner-sub-title{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
.banner-title{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.banner-description{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-style: normal;
    margin-top: 20px;

}
.banner-img{
    width: 280px;
    height: 350px;
    border-radius: 25px;

}
/* main starts here */
main{
    max-width:60%;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
}
/* main ends here */
/* about section starts here */
.about{
    
}
.section-title{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-description{
    color: var(--Dark-03, #757575);
    text-align: justify;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400
}
.info-description{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
/* about section ends here */